
<div class="ui divided grid segment "  style="margin: 0 20% 0 20%;">
  <div class="row ui top menu" id="background"
       style="cursor: pointer; border: none">
    <div class="eight wide column item"
         style="text-align: center"
         [ngStyle] = "{'color': existingUser ? 'green':'black'}"
         (click)="onSignIn()"
    >Login</div>
    <div class="eight wide column item"
         style="text-align: center"
         [ngStyle] = "{'color': !existingUser ? 'green':'black'}"
         (click)="onSignUp()"
    >Register</div>
  </div>
</div>
<app-signin *ngIf="existingUser"></app-signin>
<app-signup *ngIf="!existingUser"></app-signup>

<div class="ui negative message"
     style="margin: 20px 20% 20px 20%;"
     [ngClass]="{hidden: showMessage === false}"
     [ngClass]="{show: showMessage === true}">
  <i class="close icon" (click)="dismissMessage()"></i>
  <div class="header">
    {{messageService.getHeader()}}
  </div>
  <p>{{messageService.getMessage()}}
  </p>
</div>

