


<form class="ui form segment"
      style="margin: 20px 20% 0 20%;"
      (ngSubmit)="onSignIn(form)"
      #form="ngForm">
  <div class="field">
    <label for="email">Email</label>
    <input type="text"
           id="email"
           name="email"
           ngModel
           required
           placeholder="Enter your email"
           pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
  </div>
  <div class="field">
    <label for="password">Password</label>
    <input type="password"
           id="password"
           name="password"
           ngModel
           required
           placeholder="Enter your password">
  </div>

  <button class="ui button" type="submit" [disabled]="!form.valid" style="cursor: pointer">Login</button>
</form>
<div class="ui negative message"
     style="margin: 20px 20% 0 20%;"
     [ngClass]="{hidden: showMessage === false}"
     [ngClass]="{show: showMessage === true}">
  <i class="close icon" (click)="dismissMessage()"></i>
  <div class="header">
    {{messageService.getHeader()}}
  </div>
  <p>{{messageService.getMessage()}}
  </p>
</div>
