<div class="container" *ngIf="!search">
  <div class="ui grid">
    <div class="ui card"
         style="cursor: pointer;">
      <div class="content">
        <div class="header">{{users.name}}</div>
        <div class="meta">{{users.email}}</div>
        <div class="description">
           {{users.number}}
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container" *ngIf="search">
  <div class="ui grid">
    <div class="ui card"
         *ngFor="let user of users"
         style="cursor: pointer; margin-right: 10px">
      <div class="content">
        <div class="header">{{user.name}}</div>
        <div class="meta">{{user.email}}</div>
        <div class="description">
           {{user.number}}
        </div>
      </div>
    </div>

  </div>
</div>

<div class="ui negative message"
     style="margin: 20px 20% 20px 20%;"
     [ngClass]="{hidden: showMessage === false}"
     [ngClass]="{show: showMessage === true}">
  <i class="close icon" (click)="dismissMessage()"></i>
  <div class="header">
    {{messageService.getHeader()}}
  </div>
  <p>{{messageService.getMessage()}}
  </p>
</div>


